apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: operator.trident.netapp.io
  name: trident-operator
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app: operator.trident.netapp.io
  name: trident-operator
rules:
  # Permissions same as Trident
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - persistentvolumes
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims/status
    verbs:
      - update
      - patch
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - resourcequotas
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
      - update
  - apiGroups:
      - storage.k8s.io
    resources:
      - volumeattachments
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - storage.k8s.io
    resources:
      - volumeattachments/status
    verbs:
      - update
      - patch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshots
      - volumesnapshotclasses
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotclasses
    verbs:
      - create
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshots/status
      - volumesnapshotcontents/status
    verbs:
      - update
      - patch
  - apiGroups:
      - snapshot.storage.k8s.io
    resources:
      - volumesnapshotcontents
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshots
    verbs:
      - list
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotclasses
    verbs:
      - list
      - watch
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotcontents
    verbs:
      - get
      - list
      - watch
      - patch
  - apiGroups:
      - groupsnapshot.storage.k8s.io
    resources:
      - volumegroupsnapshotcontents/status
    verbs:
      - update
  - apiGroups:
      - csi.storage.k8s.io
    resources:
      - csidrivers
      - csinodeinfos
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - storage.k8s.io
    resources:
      - csidrivers
      - csinodes
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - trident.netapp.io
    resources:
      - tridentversions
      - tridentbackends
      - tridentstorageclasses
      - tridentvolumes
      - tridentvolumepublications
      - tridentvolumereferences
      - tridentnodes
      - tridenttransactions
      - tridentsnapshots
      - tridentbackendconfigs
      - tridentbackendconfigs/status
      - tridentmirrorrelationships
      - tridentmirrorrelationships/status
      - tridentactionmirrorupdates
      - tridentactionmirrorupdates/status
      - tridentsnapshotinfos
      - tridentsnapshotinfos/status
      - tridentgroupsnapshots
      - tridentgroupsnapshots/status
      - tridentactionsnapshotrestores
      - tridentactionsnapshotrestores/status
      - tridentprovisioners # Required for Tprov
      - tridentprovisioners/status # Required to update Tprov's status section
      - tridentorchestrators # Required for Torc
      - tridentorchestrators/status # Required to update Torc's status section
      - tridentconfigurators # Required for tconf
      - tridentconfigurators/status # Required to update tconf's status section
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - update
      - patch
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    verbs:
      - use
    resourceNames:
      - tridentpods
  # Now Operator specific permissions
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - create
      - patch
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - statefulsets
    verbs:
      - get
      - list
      - watch
      - create
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident
      - trident-csi
      - trident-controller
  - apiGroups:
      - apps
    resources:
      - daemonsets
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident
      - trident-csi
      - trident-csi-windows
      - trident-node-linux
      - trident-node-windows
  - apiGroups:
      - ""
    resources:
      - pods/exec
      - services
      - serviceaccounts
    verbs:
      - get
      - list
      - create
  - apiGroups:
      - ""
    resources:
      - pods/exec
      - services
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident-csi
      - trident
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident-controller
      - trident-node-linux
      - trident-node-windows
      - trident-csi
      - trident
  - apiGroups:
      - authorization.openshift.io
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
      - clusterroles
      - clusterrolebindings
    verbs:
      - list
      - create
  - apiGroups:
      - authorization.openshift.io
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
      - clusterroles
      - clusterrolebindings
    verbs:
      - delete
      - update
      - patch
    resourceNames:
      - trident-controller
      - trident-node-linux
      - trident-node-windows
      - trident-csi
      - trident
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    verbs:
      - list
      - create
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    resourceNames:
      - tridentpods
    verbs:
      - delete
      - update
      - patch
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    verbs:
      - get
      - list
      - create
  - apiGroups:
      - security.openshift.io
    resources:
      - securitycontextconstraints
    resourceNames:
      - trident-controller
      - trident-node-linux
      - trident-node-windows
      - trident
    verbs:
      - delete
      - update
      - patch
  - apiGroups:
      - policy
    resources:
      - podsecuritypolicies
    verbs:
      - use
    resourceNames:
      - trident-controller
      - trident-node-linux
      - trident-node-windows
      - tridentoperatorpods
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app: operator.trident.netapp.io
  name: trident-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: trident-operator
subjects:
  - kind: ServiceAccount
    name: trident-operator
    namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: operator.trident.netapp.io
    shoot.gardener.cloud/no-cleanup: "true"
  name: trident-operator
  namespace: kube-system
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: operator.trident.netapp.io
      name: trident-operator
  template:
    metadata:
      labels:
        app: operator.trident.netapp.io
        name: trident-operator
        networking.gardener.cloud/to-dns: allowed
        networking.gardener.cloud/to-apiserver: allowed
        networking.gardener.cloud/to-public-networks: allowed
    spec:
      containers:
        - command:
            - /trident-operator
            - --log-level=debug
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: trident-operator
          image: docker.io/netapp/trident-operator:25.06.3
          imagePullPolicy: IfNotPresent
          name: trident-operator
          resources:
            requests:
              cpu: "10m"
              memory: "40Mi"
            limits:
              cpu: "20m"
              memory: "80Mi"
          securityContext:
            capabilities:
              drop:
                - all
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - arm64
                      - amd64
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
      serviceAccountName: trident-operator
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: ontap-csi-node
  namespace: kube-system
  labels:
    node.gardener.cloud/critical-component: "true"
spec:
  selector:
    matchLabels:
      app: ontap-csi-plugin
      role: node
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: ontap-csi-plugin
        role: node
        gardener.cloud/role: system-component
        node.gardener.cloud/critical-component: "true"
    spec:
      priorityClassName: system-node-critical
      serviceAccount: trident-operator
      hostNetwork: true
      initContainers:
        - name: init-nvme-tcp
          image: busybox:1.36
          command:
            - /bin/sh
            - -c
            - >-
              [ -e /sys/module/nvme-tcp ] &&
              modinfo nvme-tcp ||
              { modinfo nvme-tcp && modprobe nvme-tcp ; } ||
              { echo "FAILED to load nvme-tcp kernel driver" && exit 1 ; }
          securityContext:
            privileged: true
          volumeMounts:
            - name: modules-dir
              mountPath: /lib/modules
              mountPropagation: HostToContainer
      containers:
        - name: pause
          image: registry.k8s.io/pause:3.10
      volumes:
        - name: modules-dir
          hostPath:
            path: /lib/modules
      tolerations:
        - effect: NoSchedule
          operator: Exists
        - effect: NoExecute
          operator: Exists
        - key: CriticalAddonsOnly
          operator: Exists
---
apiVersion: trident.netapp.io/v1
kind: TridentOrchestrator
metadata:
  name: trident
  labels:
    shoot.gardener.cloud/no-cleanup: "true"
spec:
  namespace: kube-system
  enableForceDetach: true
  IPv6: false
  k8sTimeout: 0
  httpRequestTimeout: "90s"
  silenceAutosupport: false
  autosupportInsecure: false
  logFormat: "text"
  disableAuditLog: true
  debug: true
  imagePullSecrets: []
  imagePullPolicy: IfNotPresent
  windows: false
  enableACP: false
  enableAutoBackendConfig: true
  iscsiSelfHealingInterval: "5m0s"
  iscsiSelfHealingWaitTime: "7m0s"
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-to-trident-controller
  namespace: kube-system
spec:
  egress:
  - to:
    - ipBlock:
        cidr: 10.0.0.0/8
  ingress:
  - from:
    - ipBlock:
        cidr: 10.0.0.0/8
  podSelector:
    matchLabels:
      app: controller.csi.trident.netapp.io
  policyTypes:
  - Ingress
  - Egress
